body{
    background: linear-gradient(to bottom, #7ecbff, #28f633);
 }
 
 
 c{
    height: 100%;
    margin: 0;
    padding: 0;
}

.centrato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.paragrafo_locali {
    font-family: Arial, sans-serif; 
    font-size: 14px;
}